@use './partials/variables' as *;
@import "~bootstrap/scss/bootstrap";
@import './partials/header';

.my_card {
    background-color: $bg;

    h2 {
        text-align: center;
        color: $primary;
        margin-bottom: 1em;
    }
    
    .details {
        color: $secondary;

        h3 {
            font-size: 1.3em;
        }

        span {
            color: $primary;
        }
    }
}